
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
  
  .heading {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
  }
  
  .select {
    padding: 5px;
    font-size: 16px;
    width: 200px;
  }
  
  .list-container {
    overflow-y: auto;
    flex: 1;
    width: 100%;
    max-width: 400px;
    padding: 0 20px;
  }
  
  .loader {
    text-align: center;
  }
  
  .error {
    color: rgb(0, 0, 0);
  }
  
  .list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
  }
  
  .button-like {
    width: 60px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 10px;
  }
  
